.contact-heading {
	text-align: center;
	min-height: 20vh;
	width: 80%;
	margin: 0rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $special-color;
}

.contact-form {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	transition: all 0.25s ease;

	input,
	textArea {
		width: 100%;
		margin: 1rem auto;
		font-size: $text;
		cursor: pointer;
		border: none;
		border-radius: 25px;
		color: $special-color;
		padding: 1rem 0rem;
		@include nueOut;
		text-align: center;

		&:focus {
			@include nueIn;
		}
	}

	button {
		width: 60%;
		margin: 2rem auto;
		font-size: $text;
		cursor: pointer;
		border: none;
		border-radius: 25px;
		color: $special-color;
		padding: 1rem 1.5rem;
		background: none;
		font-weight: bold;
		border: 3px solid transparent;

		@include nueOut;

		&:hover {
			border: 3px solid $special-color;
		}

		&:active {
			@include nueIn;
		}
	}
}
