//Variables
$header1: calc(4rem + 2vw);
$header2: calc(3.5rem + 2vw);
$header3: calc(2.5rem + 2vw);
$header4: calc(1rem + 2vw);
$text: calc(2rem + 2vw);
$scroll-text: calc(0.5rem + 2vw);

$light-color: #dbe2f4;
$dark-color: #1f295a;
$special-color: #344378;
$white: #ffffff;

// Imports
@import "global";
@import "home";
@import "project";
@import "contact";
