* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #1f295a;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  z-index: 10;
}

a {
  text-decoration: none;
  color: #1f295a;
}

h1 {
  font-size: calc(4rem + 2vw);
  letter-spacing: 0.25rem;
  color: #344378;
}

h2 {
  font-size: calc(3.5rem + 2vw);
}

h3 {
  font-size: calc(2.5rem + 2vw);
}

a,
button,
p {
  font-size: calc(2rem + 2vw);
}

.swiper-container {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 0rem;
  min-width: 100%;
  min-height: 100vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 85%;
  min-height: 90vh;
  max-height: 90vh;
  background: #ffffff;
  border-radius: 50px;
}

.swiper-slide-active {
  -webkit-box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
          box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
}

.swiper-pagination-bullet {
  background: #ffffff;
}

.fa-adjust {
  color: #1f295a;
  font-size: calc(2rem + 2vw);
  margin: 1rem;
  cursor: pointer;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home-heading {
  min-height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home-heading h1 {
  margin: 3rem 0rem;
}

.home-heading button {
  border: 3px solid #1f295a;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.home-heading button:hover {
  background-color: #1f295a;
  color: #ffffff;
}

.home-heading button:active {
  color: #344378;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links a {
  font-size: calc(1rem + 2vw);
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.social-links a:hover {
  border-bottom: 3px solid #1f295a;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll h4 {
  font-size: calc(0.5rem + 2vw);
  color: #1f295a;
}

.color-mode {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  text-align: center;
}

.projects-heading p {
  font-size: calc(1rem + 2vw);
}

.projects-holder {
  width: 90%;
  margin: 0 auto;
  min-height: 65vh;
}

.project {
  min-height: 30%;
  max-height: 30%;
}

.project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
/*# sourceMappingURL=styles.css.map */