// Color Variables

$bg-color: #292d32;

$text-color: #ecf0f3;
$button-out-color: #2a2d32;
$button-in-color: #2a2d32;

$nue-light: #30343a;
$nue-dark: #24262b;

//Variables
$header1: calc(4rem + 2vw);
$header2: calc(3.5rem + 2vw);
$header3: calc(2.5rem + 2vw);
$header4: calc(1rem + 2vw);
$text: calc(2rem + 2vw);
$scroll-text: calc(0.5rem + 2vw);

//Mixins

@mixin nueOut {
	box-shadow: -18px -18px 20px $nue-light, 18px 18px 20px $nue-dark;
}

@mixin nueIn {
	box-shadow: inset -18px -18px 30px $nue-light, inset 18px 18px 30px $nue-dark;
}

//Classes

.color-changer {
	$bg-color: #292d32;

	$text-color: #ecf0f3;
	$button-out-color: #2a2d32;
	$button-in-color: #2a2d32;

	$nue-light: #30343a;
	$nue-dark: #24262b;

	$text-color: #292d32;

	$bg-color: #ecf0f3;
	$button-out-color: #e3e6ec;
	$button-in-color: #e6e9ef;

	$nue-light: #ffffff;
	$nue-dark: #d1d9e6;
}

// Imports
@import "global";
@import "home";
@import "project";
@import "contact";
