* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  z-index: 10;
}

a {
  text-decoration: none;
  color: #ecf0f3;
}

h1 {
  font-size: calc(4rem + 2vw);
  letter-spacing: 0.25rem;
  color: #ecf0f3;
}

h2 {
  font-size: calc(3.5rem + 2vw);
}

h3 {
  font-size: calc(2.5rem + 2vw);
}

h4 {
  color: #ecf0f3;
  font-size: calc(0.5rem + 2vw);
}

a,
button,
p {
  font-size: calc(2rem + 2vw);
  color: #ecf0f3;
}

.swiper1 {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 0rem;
  min-width: 100%;
  min-height: 100vh;
  background: #292d32;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 85%;
  min-height: 90vh;
  max-height: 90vh;
  background: #292d32;
  border-radius: 50px;
  -webkit-box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
          box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
}

.swiper-pagination-bullet {
  background: #ecf0f3;
}

.fa-adjust {
  color: #ecf0f3;
  font-size: calc(2rem + 2vw);
  margin: 1rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
          box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
}

@media screen and (min-width: 1100px) {
  .swiper1 {
    padding: 0;
  }
  .swiper-slide {
    border-radius: 0px;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    margin: auto;
  }
  .swiper-pagination {
    display: none;
  }
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home-heading {
  min-height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home-heading h1 {
  margin: 3rem 0rem;
}

.home-heading a {
  border-radius: 50px;
  padding: 1rem 1.5rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  background: none;
  border: 3px solid transparent;
  color: #ecf0f3;
  -webkit-box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
          box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
}

.home-heading a:hover {
  border: 3px solid #ecf0f3;
}

.home-heading a:active {
  -webkit-box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
          box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links a {
  font-size: calc(1rem + 2vw);
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 25px;
  border: 3px solid transparent;
  padding: 1rem;
  -webkit-box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
          box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
}

.social-links a:hover {
  border: 3px solid #ecf0f3;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-mode {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  text-align: center;
}

.projects-heading p {
  font-size: calc(1rem + 2vw);
}

#projects-container {
  -webkit-box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
          box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  min-height: 70vh;
  max-height: 70vh;
  border-radius: 25px;
  background-color: #2a2d32;
  overflow-y: scroll;
  overflow-x: hidden;
}

#projects-container::-webkit-scrollbar {
  display: none;
}

#projects-container img {
  -webkit-box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
          box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
  width: 90%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  margin: 2rem auto;
}

.swiper2 {
  min-width: 100%;
  min-height: 70vh;
  max-height: 70vh;
}

.slide2 {
  min-height: 25vh;
  max-height: 25vh;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: auto;
}

.slide2 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  -webkit-box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
          box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
}

.project-modal {
  display: none;
  position: absolute;
  z-index: 10;
  min-width: 100%;
  min-height: 100%;
  border-radius: 50px;
  top: 0;
  opacity: 0;
  background-color: #ecf0f3;
}

.modal-heading {
  min-height: 10vh;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
  color: #292d32;
  font-size: calc(2.5rem + 2vw);
}

.modal-heading h1 {
  color: #292d32;
  font-size: calc(2rem + 2vw);
  max-width: 90%;
}

.fa-times-circle {
  position: absolute;
  top: 3%;
  right: 3%;
}

.fa-times-circle:hover {
  color: red;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

#modal-video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

#modal-video video {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.modal-description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-description p {
  color: #292d32;
  font-size: calc(1rem + 2vw);
}

.modal-description a {
  color: #292d32;
  font-size: calc(1rem + 2vw);
  border: 3px solid #292d32;
  border-radius: 25px;
  padding: 1rem 1.5rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  margin: 1rem;
}

.modal-description a:hover {
  border: 5px solid #ecf0f3;
  color: #ecf0f3;
}

@media screen and (min-width: 1100px) {
  #projects-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #projects-container img {
    width: 30%;
  }
  #projects-container img:hover {
    -webkit-box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
            box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
    border: 3px solid #ecf0f3;
  }
  .project-modal {
    border-radius: 0px;
  }
  .modal-content {
    width: 70%;
  }
}

.contact-heading {
  text-align: center;
  min-height: 20vh;
  width: 80%;
  margin: 0rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ecf0f3;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.contact-form input,
.contact-form textArea {
  width: 100%;
  margin: 1rem auto;
  font-size: calc(2rem + 2vw);
  cursor: pointer;
  border: none;
  border-radius: 25px;
  color: #ecf0f3;
  background-color: #2a2d32;
  padding: 1rem 0rem;
  -webkit-box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
          box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
  text-align: center;
}

.contact-form input:focus,
.contact-form textArea:focus {
  -webkit-box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
          box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
}

.contact-form button {
  width: 60%;
  margin: 2rem auto;
  font-size: calc(2rem + 2vw);
  cursor: pointer;
  border: none;
  border-radius: 25px;
  color: #ecf0f3;
  padding: 1rem 1.5rem;
  background: none;
  font-weight: bold;
  border: 3px solid transparent;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
          box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
}

.contact-form button:hover {
  border: 3px solid #ecf0f3;
}

.contact-form button:active {
  -webkit-box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
          box-shadow: inset -18px -18px 30px #30343a, inset 18px 18px 30px #24262b;
}

@media screen and (min-width: 1100px) {
  .contact-form {
    width: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */